<h1><%= movie.title%></h1>
    <ul>
        <li>
            rating: <%=movie.rating%>
        </li>
        <li>
            <% if(movie.genero != ''){ %>
                genero: <a href="/movies/genero/<%= movie.genero.id %>"> <%=movie.genero.name%> </a>
            <% } else { %>
                no tiene genero
            <% } %>
        </li>
        <li>
            premios: <%=movie.awards%>
        </li>
        <li>
            duracion: <%=movie.length%>
        </li>
        <li>
            fecha estreno: <%=movie.release_date%>
        </li>
        <li>
            actores: 
            <ul>
                <% movie.actores.forEach(actor => { %> 
                    <a href="/movies/actores/<%= actor.id %>"><li><%= actor.first_name + actor.last_name %></li> </a>
                <% }) %>
            </ul> 
        </li>
    </ul>
    <a href="/movies/edit/<%=movie.id%>"><button>Editar</button></a> <br>
    <form action="/movies/detail/<%=movie.id%>" method="POST">
        <button type="submit">Eliminar</button>
    </form>